@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minecraftia'; /*a name to be used later*/
  src: url('./assets/minecraftia.ttf'); /*URL to font*/
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
